@model IEnumerable<EvaluasiKknm.Models.Penilaian>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alasan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Akun.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indikator.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.NamaProgram)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alasan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Akun.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indikator.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.NamaProgram)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPenilaian }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPenilaian }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPenilaian })
        </td>
    </tr>
}

</table>
