@using EvaluasiKknm.Controllers
@using EvaluasiKknm.Models

@{
    ViewBag.Title = "Indikator";
    Indikator indikator = ViewBag.indikator;
}


<div class="container">
    <div class="row">

        <div class="col-md-8 mx-auto">
            <h2 style="text-center">Indikator @indikator.Judul</h2>
            <p>
                @indikator.Deskripsi;
            </p>
        </div>
        <div class="col-md-8 mx-auto">
            <h3>Capaian</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nama Kelompok</th>
                        <th scope="col">Nama Program</th>
                        <th scope="col">Skor</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProfilDesa profilDesa in ViewBag.profilDesa)
                    {
                        <tr>
                            <td>@profilDesa.nm_kelompok</td>
                            <td>@profilDesa.nm_program</td>
                            <td>@profilDesa.skor</td>
                            <td><button class="btn btn-primary">Lihat</button></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>