<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Evaluasi KKNM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Evaluasi KKNM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-item, nav-link, active" })
                @Html.ActionLink("Desa", "Index", "Desa", new { @class = "nav-item, nav-link" })
                @Html.ActionLink("Pemda", "Index", "Pemda", new { @class = "nav-item, nav-link" })
                @Html.ActionLink("Pengguna", "Index", "Pengguna", new { @class = "nav-item, nav-link" })
                @Html.ActionLink("Universitas", "Universitas", "Universitas", new { @class = "nav-item, nav-link" })
                @Html.ActionLink("Kelompok", "Index", "Kelompok", new { @class = "nav-item, nav-link" })
                @Html.ActionLink("Pembina", "Index", "Pembina", new { @class = "nav-item, nav-link" })
                @Html.ActionLink("Mahasiswa", "Index", "Mahasiswa", new { @class = "nav-item, nav-link" })
                @Html.ActionLink("Indikator", "Index", "Indikator", new { @class = "nav-item, nav-link" })
                @Html.ActionLink("Penilaian", "Index", "Penilaian", new { @class = "nav-item, nav-link" })
                @Html.ActionLink("Program", "Index", "Program", new { @class = "nav-item, nav-link" })
            </div>
        </div>
    </nav>
    
    @RenderBody()

    <div class="container-fluid background-2">
        <footer>
            <p class="text-center" style="padding:20px">&copy; @DateTime.Now.Year - Evaluasi KKNM</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
