<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Evaluasi KKNM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Evaluasi KKNM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Desa", "Index", "Desa")</li>
                    <li>@Html.ActionLink("Pemda", "Index", "Pemda")</li>
                    <li>@Html.ActionLink("Pengguna", "Index", "Pengguna")</li>
                    <li>@Html.ActionLink("Universitas", "Universitas", "Universitas")</li>
                    <li>@Html.ActionLink("Kelompok", "Index", "Kelompok")</li>
                    <li>@Html.ActionLink("Pembina", "Index", "Pembina")</li>
                    <li>@Html.ActionLink("Mahasiswa", "Index", "Mahasiswa")</li>
                    <li>@Html.ActionLink("Indikator", "Index", "Indikator")</li>
                    <li>@Html.ActionLink("Penilaian", "Index", "Penilaian")</li>
                    <li>@Html.ActionLink("Program", "Index", "Program")</li>
                </ul>
            </div>
        </div>
    </div>
    
    @RenderBody()
  
    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Evaluasi KKNM</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
