@model EvaluasiKknm.Models.Komentar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Komentar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescKomentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescKomentar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Penilaian.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Penilaian.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
