@using EvaluasiKknm.Models;
@model dynamic

@{
    ViewBag.Title = "Details";
    Desa desa = ViewBag.desa;
}

<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <h2 style="text-center">DESA @desa.NamaDesa</h2>
            @Html.Raw(@desa.KearifanLokal);
        </div>
        <div class="col-md-8 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Judul</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Indikator indikator in ViewBag.indikators)
                    {
                        <tr>
                            <td>@indikator.Judul</td>
                        </tr>
                        <tr>
                            <td>@indikator.Deskripsi</td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-primary">Lihat</button></td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>
