@using EvaluasiKknm.Models;
@model dynamic

@{
    ViewBag.Title = "Details";
    Desa desa = ViewBag.desa;
}

<div class="container">
    <div class="row" style="margin-top:90px">

        <div class="col-md-8 mx-auto">
            <h2 style="text-center">DESA @desa.NamaDesa</h2>
            @Html.Raw(@desa.KearifanLokal);
        </div>
        <div class="col-md-8 mx-auto">
            <h3>Capaian</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Indikator</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Indikator indikator in ViewBag.indikators)
                    {
                        <tr>
                            <td>@indikator.Judul</td>
                            <td>@indikator.Deskripsi</td>
                            <td>
                                @using (Html.BeginForm("Indikator", "Desa", FormMethod.Get))
                                {
                                    <input name="IdIndikator" value="@indikator.IdIndikator" type="hidden"/>
                                    <button type="submit" class="btn btn-primary">Lihat</button>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>
